img{
    display: block;
    margin: auto;
    margin-top: 5%;
}
label{
    font-weight: bold;
}
.info{
    /* text-align: center; 
    margin: auto; */
    display: block;
    /* margin-right: 33%;
    margin-left: 33%; */
    text-align: left;
    padding-left: 33%;
    padding-right: 33%;
}
input[type=text], input[type=password]  {
    margin-left: 0;
    display: block;
    width: 99%;
    height: 30px;
    margin-bottom: 0px;
}
input[type=checkbox]{
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 0px;
}
input[type=submit]{
    background-color: lightgreen;
    color: white;
    height: 30px;
    display: block;
    width: 100%;
    /* margin-left: 33%; */
    /* margin-right: 33%; */
    margin: 0px;
    text-align: center;
}
a{
    text-align: right;
    margin: 0px;
    padding: 0%;
    margin-left: 25%;
}
button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 35%;
    background-color: rgb(194, 73, 73);
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    display: inline;
}
.bottom-row{
    background-color: rgb(232, 229, 229);
}